{% extends 'blog/main.html '%}

{% block projects %}
	<div class="projects">
		<h3>{{ post.title }}</h3>
		<p align="center">
			<a href="#"><img src="{{ post.image.url }}" width="50%" /></a>
		</p>
		<div class="item">
			<p>{{ post.description }}</p>
			<p>Автор:  {{ post.author }}</p>
			<div class="cl"></div>
		</div>
	</div>
{% endblock projects %}

{% block other %}
	<div class="form-comment">
		<h3>Оставить комментарий</h3>
		<div>
			<form action="{% url 'add_comments' post.id %}" method="post">
				{% csrf_token %}
				<div>
					<label>Ваш комментарий</label>
					<textarea name="text_comments"></textarea>
				</div>
				<div>
					<label>Ваше имя *</label>
					<input type="text" name="name">
				</div>
				<div>
					<label>Ваше Email *</label>
					<input type="email" name="email">
				</div>
				<div><input type="submit"></div>
			</form>
		</div>
	</div>

<!--				{% for comment in post.comments_set.all %}-->
<!--				{% endfor %}-->
	{% for comment in list_of_comments %}
		<div class="view-comment">
			<h4>{{ comment.name }}</h4>
			<p>
				{{ comment.text_comments }}
			</p>
		</div>
	{% endfor %}
{% endblock other %}