{% extends 'blog/main.html '%}

{% block projects %}
	<div class="projects">
		<h3>Записи</h3>
		{% for post in post_list %}
		<div class="item">
			<div class="image left">
				<a href="#"><img src="{{ post.image.url }}" width="200px" /></a>
			</div>
			<div class="text left">

				<h4><a href="{% url 'current_post' post.slug %}">{{ post.title }}</a></h4>
				<p>{{ post.description }}</p>
				<p>Автор:  {{ post.author }}</p>
			</div>
			<div class="cl"></div>
		</div>
		{% endfor %}
	</div>
{% endblock projects %}


